apiVersion: v1
kind: Service
metadata:
  annotations:
    flux.weave.works/locked: "true"
  name: logstash
  namespace: elk
spec:
  selector:
    app: logstash
  ports:
  - port: 5044
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: logstash
  namespace: elk
  labels:
    app: logstash
  annotations:
    flux.weave.works/locked: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logstash
  template:
    metadata:
      labels:
        app: logstash
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: logstash
        image: docker.elastic.co/logstash/logstash-oss:6.2.3
        args: [
          "-f", "/etc/pipeline.conf"
        ]
        ports:
        - containerPort: 5044
          name: logstash
        volumeMounts:
        - name: config
          mountPath: /etc/pipeline.conf
          readOnly: true
          subPath: pipeline.conf
      volumes:
      - name: config
        configMap:
          defaultMode: 0644
          name: logstash-config
      - name: data
        emptyDir: {}